*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Cooper;
    src: url(/media/Cooper\ Black\ Regular.ttf);
}

a{
    text-decoration: none;
    color: white;
    
}


body{
    background-color: #42884F;
    margin: 2rem 5rem;
}


#mainInfo{
    display: flex;
    width: 100%;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainInfo img{
max-height: 400px;
margin: 30px;
border-radius: 30px;
max-width: 100%;
}

#contactInfo{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#contactInfo h1{
    font-family: 'Cooper';
    color: #FCD957;
    letter-spacing: 1px;
    font-size: 70px;
}

#contactInfo h2{
    font-family: 'Cooper';
    color: white;
    letter-spacing: 1px;
    font-size: 50px;
}

.sectionDisplay h3{
    font-family: 'Cooper';
    color: #FCD957;
    letter-spacing: 1px;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.sectionDisplay img{
    margin: 10px;
    max-width: 100%;
    max-height: 300px;
    border: solid white 3px;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
}

.sectionDisplay{
    font-family: 'Cooper';
    color: white;
    text-align: center;
    width: 100%;
}

.sectionDisplay figcaption{
margin-top: 10px;
}

.displayTiles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.projectTile{
    margin-top: 20px;
}


@media only screen and (max-width: 1130px) {
    body{
        display: flex;
        flex-direction: column;
       
    }
    main{
        margin: 2rem;
    }

    #mainInfo{
        flex-direction: column;
        align-items: center;
    }

    #mainInfo img{
        margin-bottom: 30px;
    }

    #contactInfo{
        text-align: center;
    }

    .displayTiles{
        flex-direction: column;
    }

    .sectionDisplay figcaption{
        margin-top: 5px;
        }

  }

  @media only screen and (max-width: 734px) {
    #contactInfo h1{
    font-size: 48px;
    }
    #contactInfo h2{
        font-size: 24px;
    }

    .sectionDisplay h3{
        font-size: 24px;
    }
  }