* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Cooper;
  src: url(/media/Cooper\ Black\ Regular.ttf);
}
#yellowStripe {
  position: fixed;
  background-color: #fcd957;
  top: 0;
  left: 0;
  width: 3rem;
  height: 100vh;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #42884f;
  margin: 2rem 5rem;
}

#socials {
  display: flex;
  max-width: 100%;
  width: 220px;
  margin-top: 30px;
  text-decoration: none;
  justify-content: space-between;
}

#socials img:hover{
    animation: myAnim 3s ease 0s 1 normal forwards;
}

#mainInfo {
  width: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 60vh;
}

#profilePic {
  max-height: 400px;
  margin: 30px;
  border-radius: 30px;
  max-width: 100%;
}

#contactInfo {
  margin-top: 100px;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#contactInfo h1 {
  font-family: "Cooper";
  color: #fcd957;
  letter-spacing: 1px;
  font-size: 70px;
}

#contactInfo h2 {
  font-family: "Cooper";
  color: white;
  letter-spacing: 1px;
  font-size: 50px;
}

.sectionDisplay h3 {
  font-family: "Cooper";
  color: white;
  letter-spacing: 1px;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
}

.sectionDisplay img {
  margin: 10px;
  max-width: 100%;
  max-height: 300px;
  border: solid white 3px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
}

.sectionDisplay {
  display: flex;
  flex-direction: column;
  font-family: "Cooper";
  text-align: center;
  max-width: 100%;
  margin-bottom: 100px;
  align-items: center;
}

.sectionDisplay figcaption {
  margin-top: 10px;
  color: white;
}

.displayTiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.projectTile {
  margin-top: 20px;
  padding: 0 5px;
}

@media only screen and (max-width: 1130px) {
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    margin: 2rem;
  }

  #mainInfo {
    flex-direction: column;
    align-items: center;
  }

  #mainInfo img {
    margin-bottom: 30px;
  }

  #contactInfo {
    text-align: center;
  }

  .displayTiles {
    flex-direction: column;
  }

  .sectionDisplay figcaption {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 734px) {
  #contactInfo h1 {
    font-size: 48px;
  }
  #contactInfo h2 {
    font-size: 24px;
  }

  .sectionDisplay h3 {
    font-size: 24px;
  }
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}